.header {
    background: none;
    background-image: url(../images/Banner.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    filter: brightness(80%);
}

.first-header {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 150px ;
    padding-bottom: 0;
    
}

.last-header {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

.when-done{
    /* margin-top: 233px; */
}

.main1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 770px 608px 609px;
    
}

.main2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.maing {
    font-size: 24px;

}

.main3 {
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 700px;
}

.frg1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    margin-left: 120px;
    padding-top: 120px;
    



}

.frg2 {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-left: 120px
}

.frg3 {
    color: #FFF;
    margin-left: 120px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.main4 {
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    background-color: #FF00000D;
    margin: auto;
    margin-top: 120px;
    font-family: Inter;
}

.main5 {
    text-align: center;
    display: inline;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
    padding: 100px 385px 386px 214px;
}

.main6 {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: none;
    background: #F00;
    color: #FFF;
    font-size: 20px;
    margin-left: 608px;
}

span {
    color: #F00;
}

.main7 {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 224px;

}

.main8 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 0;
}

.mainf {
    display: flex;
}

.main9 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.img1 {

    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: ;
    border-radius: 16px 0px 16px 16px;

}

.img2 {
    background-image: url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 450px;
    border-radius: 16px 0px 16px 16px;
    width: 320px;
    height: 229px;
    flex-shrink: 0;

}

.img3 {
    background-image: url('../images/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-left: 0150px;
    width: 429px;
    height: 433px;
    flex-shrink: 0;
    position: 10px;


}

.all {
    margin-top: 0;
    padding: auto;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.sec1 {
    margin: auto;
}


.sec2 {
    margin: auto;
    margin-top: 170px;
}

.sec3 {
    margin-top: 150px;
}

.sec4 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-top: 170px;
}

.foorti {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 0;
}

.happy-vibe {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
}

#img-ctrl {
    justify-content: space-between;
    
}

.gifts1 {
    display: flex;
    justify-content: space-between;
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    padding: 24px;
    border-radius: 16px;

}

.gifts2 {
    display: flex;
    justify-content: space-between;
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    padding: 24px;
    border-radius: 16px;
}

#gift-primary1 {
    margin-right: 24px;
    margin-bottom: 24px;
}

.last-main {
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.last-main-img {
    display: flex;
    text-align: center;
    margin: 80px 585px;

}

#last-h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

#last-para {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    margin-left: 212px;
    font-weight: 400px;
    line-height: 32px;
    /* 160% */
    width: 896px;
}

.design {
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px 50px 0 50px;
    background: #FFF;
    margin-left: 200px;
    border: none;


}

.hd-btn {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border: none;
    color: #FFFFFF;
}

.footer1 {
    background: #070211;
    width: 1600px;
    height: 609px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    width: 1600px;
    


}

.inside1 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}

.inside2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
    text-align: right;

}

.inside3 {
    margin-left: 700px;


}

.radiofm {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.radiopadma {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.last-task {
    background: #070211;
}